*.o
*.exe
*.gcode
*.FCStd1

_Photos/
Software/Deploy/
Software/build*/
#Software/build-DewController-Desktop_Qt_6_5_2_MinGW_64_bit-Release/
#Software/build-DewController-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/

**/*build*/
